/* Import da fonte Outfit para Títulos e Geist para parágrafos*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');


/* Tirando os elementos padrões do navegador */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
    Determinando cores e fontes padrão
    Ao invés de ficar digitando cada cor manualmente, chama essas variáveis
    Ex: background-color: var(--cor-secundaria);
*/
:root {
    /* Cores */
    --cor-primaria: #8E39E2;
    --cor-secundaria: #D4C9FF;
    --cor-secundaria-light: #F5EBFF;
    --cor-logo: #7F49B4;
    --preto-padrao: #0B1020;

    /* Fontes */
    --titulo: "Outfit", sans-serif;
    --paragrafo: "Geist", sans-serif;

    /* Font-weigth */
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
}

/* Definindo o body como tela toda */
body {
    width: 100%;
    height: auto;
}



/* NAVBAR - HEADER */

.header {
    width: 100%;
    position: fixed;
}

.navbar {
    background-color: white;
    position: absolute;
    top: 20px;
    left: 1.5%;
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0% 1%;
    border-radius: 50px;
}

.container-img {
    display: flex;
    width: 20vw;
    height: 100%;
    background-image: url(./../assets/icons/BioTrace\ \(4\).png);
    background-position: 40px center;
    background-repeat: no-repeat;
    background-size: auto 80%;
}

.container-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
}

.container-lista li {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
    height: 100%;
}

.container-lista li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style: none;
    font-family: var(--titulo);
    text-transform: uppercase;
    color: var(--preto-padrao);
    font-weight: var(--medium);
    transition: all ease-in-out 0.3s;
}

.container-lista li a:hover {
    color: var(--cor-primaria);
    transform: scale(1.1);
}

.container-lista .linha {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--preto-padrao);
    height:25%;
    width: 1px;
}

.container-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100%;
    gap: 8%;
}

.container-btn a {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    border-radius: 50px;
    font-family: var(--titulo);
    text-transform: uppercase;
    font-weight: var(--medium);
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.container-btn a:active {
    transform: scale(0.9);
}

#btn-login {
    background-color: white;
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
    width: 40%;
}

#btn-cad {
    background-color: var(--cor-primaria);
    color: white;
    width: 45%;
}

#btn-login:hover {
    background-color: var(--cor-primaria);
    color: white;
}

#btn-cad:hover {
    background-color: white;
    color: var(--cor-primaria);
    box-shadow: 0px 0px 5px var(--cor-primaria);
}

.header-whatsapp {
    position: absolute;
    align-self: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #10B981;
    left: 93%;
    top: 86vh;
    background-image: url(../assets/icons/whatsapp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    transition: all ease-in-out 0.3s;
}

.header-whatsapp:hover {
    background-color: white;
    background-image: url(../assets/icons/whatsapp-preto.svg);
    box-shadow: 0px 0px 10px #10B981;
}



/* MAIN - INÍCIO */
.container-inicio {
    width: 100%;
    height: 100vh;
}

.content-imagem {
    width: 100%;
    height: 100%;
    background-image: url(./../assets/img/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.filtro-janela {
    width: 100%;
    height: 100%;
    background-image: url(./../assets/img/filtro-janela.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.degrade {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        #ffff,
        #ffffff8f,
        rgba(255, 255, 255, 0.158),
        rgba(255, 255, 255, 0.158),
        rgba(255, 255, 255, 0.158),
        #ffff
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 13%;
}

.inicio-content {
    font-family: var(--titulo);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 42vw;
    height: 50vh;
    margin: 0% 7%;
    gap: 10%;
}

.inicio-subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria-light);
    padding: 1% 3% 1% 5%;
    border-radius: 50px;
    font-size: 16px;
    font-weight: var(--semi-bold);
    text-transform: uppercase;
    color: var(--cor-primaria);
}

.inicio-titulo {
    color: var(--preto-padrao);
    font-size: 60px;
    font-weight: var(--extra-bold);
    transition: all ease-in-out 0.5s;
}

.inicio-titulo:hover {
    background-color: white;
    border-radius: 25px;
    padding: 0% 5%;
}

.t-roxo {
    color: var(--cor-primaria);
}

.inicio-paragrafo {
    font-family: var(--paragrafo);
    color: var(--preto-padrao);
    font-size: 24px;
    font-weight: var(--regular);
}

.inicio-textos {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.inicio-btn-conheca {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 7% 2% 4%;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 100px;
    text-decoration: none;
    font-size: 16px;
    font-weight: var(--medium);
    background-image: url(./../assets/icons/seta-btn.svg);
    background-position: 85% center;
    background-repeat: no-repeat;
    background-size: 8%;
    margin-top: 5%;
    transition: all ease-in-out 0.3s;
}


.inicio-btn-conheca:hover {
    background-image: url(./../assets/icons/seta-btn-roxa.svg);
    color: var(--cor-primaria);
    background-color: white;
    box-shadow: 0px 0px 10px var(--cor-primaria);
}

.inicio-dados {
    align-self: center;
    background-color: white;
    width: 97%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
    padding: 1% 5%;
    border-radius: 100px;
}

.inicio-dados-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--titulo);
    background-color: white;
    border-radius: 100px;
    padding: 1% 4%;
    transition: all ease-in-out 0.3s;
}

.inicio-dados-infos h1 {
    color: var(--cor-primaria);
    font-weight: var(--extra-bold);
    font-size: 48px;
    width: 100%;
    text-align: center;
    transition: all ease-in-out 0.1s;
}

.inicio-dados-infos h1:hover {
    color: white;
}

.inicio-dados-infos:hover {
    background-color: var(--cor-primaria);
    color: white;
}



/* MAIN - COMPONENTES */
.container-componentes {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        var(--cor-secundaria) 120px,
        var(--cor-secundaria) calc(100% - 120px),
        #ffffff 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 5%;
    gap: 60px;

}

.titulo-componentes {
    font-family: var(--titulo);
    font-weight: var(--semi-bold);
    font-size: 1.8rem;
    color: var(--preto-padrao);
    text-align: center;
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
}

.titulo-componentes:hover {
    padding:  1% 5%;
    background-color: white;
}

.grid-componentes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 10%;
}

.card-componente {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 350px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    gap: 14px;
    transition: all ease-in-out 0.3s;
}

.card-componente:hover {
    transform: scale(1.1);
}

.icone-componente {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}

.icon1 {
    background-image: url(../assets/img/icone1.png);
}

.icon2 {
    background-image: url(../assets/img/icone2.png);
}

.icon3 {
    background-image: url(../assets/img/icone3.png);
}

.card-componente h3 {
    font-family: var(--titulo);
    font-weight: var(--semi-bold);
    font-size: 1.1rem;
    color: var(--preto-padrao);
}

.card-componente p {
    font-family: var(--paragrafo);
    font-weight: var(--regular);
    font-size: 0.9rem;
    line-height: 1.5;
    color: #4A4A4A;
}




/* MAIN - SOBRE NÓS */
.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150vh;
    font-family: var(--titulo);
    margin-bottom: 10vw;
}

.sobre-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-titulo p {
    font-size: 30px;
    font-family: var(--titulo);
    color: var(--preto-padrao);
    font-weight: var(--regular);
}

.sobre-titulo div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/BioTrace\ \(3\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #10B981;
    width: 14vw;
    height: 7vh;
}

.sobre-content {
    width: 90%;
    height: 50vh;
    box-shadow: inset 0px 0px 20px var(--cor-secundaria);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sobre-content h4 {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: var(--semi-bold);
}

.sobre-content p {
    max-width: 41vw;
    text-align: center;
    font-weight: var(--regular);
    font-size: 24px;
}

.sobre-content .icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--cor-primaria);
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.historia {
    background-size: 45%;
    background-image: url(../assets/icons/historia.svg);
}

.missao {
    background-size: 40%;
    background-image: url(../assets/icons/missao.svg);
}

.cont-historia {
    height: 70vh;
}




/* footer */

.footer {
    background-color: #070b17;
    color: #b6b6c2;
    padding: 30px 6%;

    font-family: var(--titulo);
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    max-width: 1250px;
    margin: auto;
    padding: 25px 0;

    border-top: 1px solid #39304f;
}

.footer-marca h2 {
    color: #914bc1;
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-marca p {
    font-size: 14px;
}

.footer-coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-coluna h3 {
    color: #a653cf;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.footer-coluna p,
.footer-coluna a {
    color: #b6b6c2;
    font-size: 14px;
    text-decoration: none;
}

.footer-coluna a:hover {
    color: #a653cf;
}

/* Redes sociais */

.redes-sociais {
    display: flex;
    gap: 10px;
}

.redes-sociais a {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #503066;
    border-radius: 50%;

    color: #a653cf;
    font-size: 11px;
}

/* Parte inferior do footer */

.footer-final {
    max-width: 1250px;
    margin: auto;
    padding-top: 20px;

    border-top: 1px solid #202330;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
}

.footer-final a {
    color: #b6b6c2;
    text-decoration: none;
    margin-left: 25px;
}

.footer-final a:hover {
    color: #a653cf;
}


/* RESPONSIVO */
@media (max-width: 900px) {
    .grid-componentes {
        flex-direction: column;
        align-items: center;
    }
}